<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias type="com.myweb.domain.ProductVO" alias="pvo"/>
      <typeAlias type="com.myweb.domain.ProductPageVO" alias="ppgvo"/>
      <typeAlias type="com.myweb.domain.ProductCustomerPageVO" alias="pcpgvo"/>
      <typeAlias type="com.myweb.domain.ProductStockVO" alias="psvo"/>
      <typeAlias type="com.myweb.domain.ProductFileVO" alias="pfvo"/>
      <typeAlias type="com.myweb.domain.ProductAndFileDTO" alias="pfdto"/>
      <typeAlias type="com.myweb.domain.AddExtraVO" alias="aevo"/>
      <typeAlias type="com.myweb.domain.MemberVO" alias="mvo"/>
      <typeAlias type="com.myweb.domain.ReviewVO" alias="rvo"/>
      <typeAlias type="com.myweb.domain.adCommentVO" alias="advo"/>
      <typeAlias type="com.myweb.domain.CartVO" alias="cartvo"/>
      <typeAlias type="com.myweb.domain.CouponVO" alias="cpvo"/>
      <typeAlias type="com.myweb.domain.CouponPageVO" alias="cpgvo"/>
      <typeAlias type="com.myweb.domain.CouponListVO" alias="cplvo"/>
      <typeAlias type="com.myweb.domain.CouponVO" alias="cpvo"/>
      <typeAlias type="com.myweb.domain.StockVO" alias="svo"/>
   	  <typeAlias type="com.myweb.domain.MemberPageVO" alias="mpgvo"/>
   	  <typeAlias type="com.myweb.domain.ReviewPageVO" alias="rpgvo"/>
   	  <typeAlias type="com.myweb.domain.StockOrderVO" alias="sovo"/>
   	  <typeAlias type="com.myweb.domain.StockOrderPageVO" alias="sopgvo"/>
   	  <typeAlias type="com.myweb.domain.StockReceivingPageVO" alias="srpgvo"/>
   	  <typeAlias type="com.myweb.domain.PurchaseVO" alias="purvo"/>
   </typeAliases>
</configuration>