<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="AddExtraMapper">
  <!-- price는 나중에 추가하면 넣어야함 -->
  	<insert id="reg" parameterType="aevo">
	insert into tbl_add_extra (aeno, mno, pno, price, title)
	values (seq_add_extra_aeno.nextval, #{mno }, #{pno }, #{price }, #{title })
  	</insert>
  	
  	<!-- 주문 취소시 add_extra 테이블에 정보가 있으면 지우기 위해 cartno없는 정보 가져옴 -->
  	<select id="list" parameterType="hashmap" resultType="aevo">
  		select * from tbl_add_extra where mno = #{mno} and pno =#{pno} and cartno is null
  	</select>
  	
  	<!-- 카트리스트,payment,결제완료에서 cartvo와 연동되는 add_extra 정보 가져옴 -->
  	<select id="addExtraCartList" parameterType="cartvo" resultType="aevo">
  		select * from tbl_add_extra where mno = #{mno} and pno =#{pno} and cartno = #{cartno}
  	</select>

	<!-- 주문 성공시 해당 add_extra 삭제 -->
  	<delete id="del" parameterType="int">
  		delete from tbl_add_extra where cartno = #{cartno}
  	</delete>
	
	<!-- 주문 취소한 제품 AE만 지우기 -->
	<delete id="delPno" parameterType="hashmap">
		delete from tbl_add_extra where mno = #{mno} and pno = #{pno} and cartno is null
	</delete>
	
	<!-- 카트에서 상품 삭제시 해당 AE지우기 -->
	<delete id="delFromCart" parameterType="int">
		delete from tbl_add_extra where cartno = #{cartno}
	</delete>		
	
	<!-- 최근 추가된 cartno mno pno 받아와서 tbl_AE cartno 컬럼 수정하기-->
	<update id="updateCartno" parameterType="cartvo">
		update tbl_add_extra set cartno = #{cartno} where mno = #{mno} and pno = #{pno} and cartno is null
	</update>
	
	<!-- 카트에서 상품 수량을 변경하면 crtno연동된 add_extra 수량 동일변경 -->
	<update id="updateQty" parameterType="hashmap">
		update tbl_add_extra set quantity = quantity + #{num} where cartno = #{cartno}
	</update>
  </mapper>