<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PurchaseMapper">
	<sql id="search">
		<if test="range != null">
			<trim prefix="and (" suffix=")">
				<choose>
					<when test="range == 'en'.toString()">
						email like '%'||#{keyword}||'%' or name like
						'%'||#{keyword}||'%'
					</when>
					<when test="range == 'e'.toString()">
						email like '%'||#{keyword}||'%'
					</when>
					<when test="range == 'n'.toString()">
						name like '%'||#{keyword}||'%'
					</when>
					<when test="range == 't'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					<when test="range == 'p'.toString()">
						price like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</if>
	</sql>
	<insert id="reg" parameterType="hashmap">
		insert into tbl_purchase(purno,
		mno, cartno, pno, title, price, quantity)
		values
		(seq_purchase_purno.nextval, #{mno}, #{cartno}, #{pno}, #{title},
		#{price}, #{quantity})
	</insert>

	<select id="totalList" resultType="purvo">
		<![CDATA[
 		select rn, PURNO, MNO, CARTNO, PNO, TITLE, PRICE, QUANTITY, REGDATE, EMAIL, NAME  
		from(select /*INDEX_DESC(tbl_purchase pk_purchase)*/
		rownum as rn, PURNO, MNO, CARTNO, PNO, TITLE, PRICE, QUANTITY, REGDATE, EMAIL, NAME 
		from V_MEMBER_PUR
		where rownum > 0
 		]]>
		<include refid="search"></include>
		<![CDATA[		
 			and rownum <= #{pageIndex} * #{countPerPage})
        	where rn > (#{pageIndex}-1) * #{countPerPage}
 		]]>
	</select>
	<select id="totalListMember" parameterType="hashmap"
		resultType="purvo">
		<![CDATA[
 		select rn, PURNO, MNO, CARTNO, PNO, TITLE, PRICE, QUANTITY, REGDATE, EMAIL, NAME  
		from(select /*INDEX_DESC(tbl_purchase pk_purchase)*/
		rownum as rn, PURNO, MNO, CARTNO, PNO, TITLE, PRICE, QUANTITY, REGDATE, EMAIL, NAME 
		from V_MEMBER_PUR
		where rownum > 0
 		]]>
		<include refid="search"></include>
		<![CDATA[		
 			and rownum <= #{pageIndex} * #{countPerPage})
        	where rn > (#{pageIndex}-1) * #{countPerPage}
 		]]>
		and mno=#{mno}
	</select>

	<select id="tc" parameterType="mpgvo" resultType="int">
      select count(purno) FROM tbl_purchase WHERE purno > 0
   </select>
   
   <select id="tcMember" parameterType="mpgvo" resultType="int">
			select count(purno) FROM tbl_purchase WHERE purno > 0 and mno=#{mno}
   </select>
   
   <select id="dateSales" parameterType="String" resultType="int">
 			SELECT NVL(sum(price),0) FROM TBL_PURCHASE WHERE TO_CHAR(regdate, 'YYYY-MM-DD')=#{todayString}
   </select>
   <select id="weekSales" parameterType="hashmap" resultType="int">
 			SELECT NVL(sum(price),0) FROM (SELECT * FROM TBL_PURCHASE WHERE TO_CHAR(regdate,'mm') = #{month}) WHERE to_char(regdate,'d')=#{i}
   </select>
   <select id="yearSalesList" parameterType="String" resultType="int">
 			SELECT NVL(sum(price),0) FROM TBL_PURCHASE WHERE TO_CHAR(regdate, 'YYYY')=#{yearString}
   </select>

	<select id="monthSales" parameterType="String" resultType="int">
		SELECT NVL(sum(price),0) FROM TBL_PURCHASE WHERE TO_CHAR(regdate,
		'YYYY-MM')=#{monthString}
	</select>
	
	<select id="productSalesRate" parameterType="String"
		resultType="purvo">
		<![CDATA[
		SELECT * FROM (SELECT TITLE, sum(QUANTITY) AS QUANTITY FROM
		TBL_PURCHASE
		WHERE TO_CHAR(regdate, 'YYYY-MM')=#{monthString} GROUP BY title
		ORDER BY
		QUANTITY DESC) WHERE rownum <= 5
		]]>
	</select>

</mapper>