<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StockOrderMapper">
 	<sql id="search">
	  	<if test="range != null">
	  		<trim prefix="and (" suffix=")">
	  			<choose>
	  				<when test="range == 'all'.toString()">
	  					to_char(ono) like '%'||#{keyword}||'%' or
	  					sname like '%'||#{keyword}||'%' or
	  					to_char(order_qty) like '%'||#{keyword}||'%' or
	  					to_char(order_date,'YYYY-MM-DD') like '%'||#{keyword}||'%'
	  				</when>
	  				<when test="range == 'no'.toString()">
	  					to_char(ono) like '%'||#{keyword}||'%'
	  				</when>
	  				<when test="range == 'na'.toString()">
	  					sname like '%'||#{keyword}||'%'
	  				</when>
	  				<when test="range == 'q'.toString()">
	  					to_char(order_qty) like '%'||#{keyword}||'%'
	  				</when>
	  			</choose>
	  		</trim>
	  	</if>
    </sql>
    <sql id="date">
    	<if test="order_date != null and order_date != ''">
    		and (to_char(order_date, 'YYYY-MM-DD') = #{order_date})
    	</if>
    </sql>
       <!-- 재고 주문 -->
	<insert id="od" parameterType="sovo">
		insert into tbl_stock_order(ono, sname, order_qty, order_date)
		values (seq_stock_order_ono.nextval, #{sname}, #{order_qty}, sysdate)
	</insert>
	
	<!-- 총 주문 내역 개수 -->
	<select id="tc" parameterType="sopgvo" resultType="int">
 	<![CDATA[
 		select count(ono) as cnt from tbl_stock_order
 		where ono > 0 
 	]]> 
 	    <include refid="date"/>
 		<include refid="search"></include>
 	</select>
 	
 	<!-- 주문 내역 리스트 -->
 	<select id="dateOdList" parameterType="sopgvo" resultType="sovo">
 	<![CDATA[
		select ono, sname, order_qty, order_date
 		from (select /*+INDEX_DESC(tbl_stock_order pk_stock_order)*/
 				rownum as rn, ono, sname, order_qty, order_date
 				from tbl_stock_order where ono > 0
 	]]>
 		<include refid="date"/>
 		<include refid="search"/>
 	<![CDATA[
 				and rownum <= #{pageIndex} * #{countPerPage})
 		where rn > (#{pageIndex}-1) * #{countPerPage}
 	]]>
 	</select>
</mapper>